
@{
    ViewData["Title"] = "Index";
}

<div class=" text-center bg-gradient">

    <h1 class="text-center text-dark p-5 mt-5">Linked gates helps IT department to sort out and organize their devices to have everything documented about their employees.</h1>

    
</div>

